
<div class="about-us" id="about">
    <div class="left-img">
        <div class="img"></div>
    </div>
    <div class="right-text">
        <h2>About Us</h2>
        <p>
            I'm a system engineer student with academic 
            experience in Frontend developing
            and a specialized focus in creating 
            attractive, functional web interfaces.
        </p>
        <p>
            I have solid knowledge in HTML, CSS, Java, C++, C, 
            JavaScript (EcmaScript, TypeScript, Nodejs, JQuery) and Databases as
            MongoDB, Oracle, Postgres, MySQL, 
            as well as in Angular Framework.
        </p>
        <p>
            My objective is use my technique skills 
            to design and develop high quality user experiences,
            focus in usability and efficiency.
        </p>
    </div>
</div>