<main class="main">
    <article class="art title">
        <section id="secone">
            <h1 id="sub1">AJMaster</h1>
            <p id="p1">
                Conecta con el mundo a través de Social Network, la plataforma
                web pensada para aquellas personas con el deseo de interactuar.
            </p>
            <div class="right-img">
                <img src="../../assets/images/woman.png" alt="Not found" id="img">
            </div>
        </section>
    </article>
    <article class="art form">
        <section>
            <form id="formulario" action="">
                <fieldset id="set">
                    <input id="username" type="email" placeholder="Email" autofocus required>
                    <input type="password" id="password" placeholder="Password" required>
                    <input id="send" type="submit" value="Login" >
                    <a id="linkpass" href="#">¿Forgot your password?</a>
                    <hr class="line">
                    <div id="divNewAccount">
                        <input id="newAccount" type="button" value="New account">
                    </div>
                </fieldset>
            </form>
            <div id="divp2">
                <p id="p2"><strong>Get a HTML template</strong> for your only used, change it as you want and enjoy while you are doing it.</p>
            </div>
        </section>
    </article>
</main>