
<div class="row" id="home">
    <div class="first-row">
        <p class="log-text">A Template for every project.</p>
        <p class="smoll-text">
            Get the best HTML template here, 
            simple, responsive and an almost free price!
        </p>
        <a href="shop">Shop Here</a>
    </div>
    <div class="second-row">
        <div class="img" id="imgPeople"></div>
    </div>
</div>

<div class="pages">

    <app-template id="template"></app-template>
    <app-about id="about"></app-about>
    <app-contact id="contact"></app-contact>
  
</div>

<app-footer></app-footer>
