
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding-top: 5rem;
    max-width: 100vw;
    min-height: 100vh;
}

.row .first-row{
    width: 35rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    padding: 55px 0px 0px 55px;
}

.row .first-row .top-text{
    color: #00cade;
}

.row .first-row a{
    width: 8rem;
    height: 44px;
    background: #ec284b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px 0px 0px 0px;
    border-radius: 23px;
    cursor: pointer;
    transition: 1s;
}

.row .first-row a:hover{
    background-color: transparent;
    color: #989898;
    border: 2px solid gainsboro;
    transform: scale(.95);
}

.row .first-row .log-text{
    font-size: 4rem;
    font-weight: 700;
    margin: 27px 0px 27px 0px;
}

.row .first-row .smoll-text{
    font-size: 19px;
    width: 16rem;
    color: #717171;
}

.row .second-row{
    width: 45rem;
    height: auto;
}

.row .second-row img{
    width: 100%;
}

.pages{
    padding: 0;
    margin: 0;
    width: auto;
}

#about{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

app-footer{
    max-width: 100vw;
}